* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 62.5%;
} 

header {
    /* height: 90vh    ; */
    overflow: hidden;
}

footer {
    background-color: black;
}

.navbar__sizemod {   
    font-size: 5rem;
}
.video-container {
    width: 100vw;
    /* height: calc( 100vw * 1.3); */
    /* height: 100vh; */
    overflow: hidden;
}
.courusel__img--size {
    width: 100%;
    max-height: 70rem;
    max-width: 52.5rem;
}
.video-container video {
    width: 100vw;
    opacity: 85%; 
    overflow: hidden;
}

.centerimg {
    display: flex;
    justify-content: center;
}


.container__text {
    font-size: 5rem;
    /* margin-top: 10rem;
    margin-bottom: 10rem; */
    text-align: center;
    margin: 10rem 4rem 10rem 4rem;
}

.corousel__img { 
    display: block;
    margin: 0 auto;
}

.carousel__title {
    font-size: 5rem;
    color: white;
    font-weight: bold
}

.carousel__text {
    font-size: 3rem;
    color: white;
    font-weight: bold
}

.footer__tittle--mod {
    font-size: 3rem;
    color: snow;
}

.footer__redes {
    width: 4rem;
    
}




